$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*//BOOT Perfect circle CLASS: ;*/
/*.img-circle {
  border-radius: 50%; // set radius in percents
}*/



body {
  /*margin-top: 50px;  Required padding for .navbar-fixed-top. 
  Remove if using .navbar-static-top. Change if height of navigation changes. */
}

nav.navbar {
  background-color: transparent;
  border:none;

/*TOGGLE BUTTON*/
  button.navbar-toggle {
    border: none;
  }

/*NAV ITEMS*/
  ul.nav {
    li a {
      @media (min-width: 992px) {
       color: #000;
      }
    }
  }
}



header.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../images/stone_wall.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
    z-index: 1;


  .headline {
      padding: 80px 0;

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      height: 50%;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;

      background: rgba(242, 228, 22, 0.6);
      /*opacity: 0.9;*/

        @media (min-width: 992px) {
          height: 100%;
          width: 50%;
        }
      }

/* ../.container-fluid/.row/.col-.. */
    
    .row {
      position: relative;
    }

    .header-right, .header-left {
        padding-top: 120px;
        padding-bottom: 120px;
        color: #fff;
        position: relative;
        z-index: 3;
        text-align: center;


        h1 {
          margin: 0;
          padding: 0;
          /*vertical-align: middle;*/
        }

        h2 {
          margin-top: 0;
          margin-bottom: 40px;
        }

        div {
          width: 80%;
          margin: 0 auto;

        }
        
      }
  
    .header-left button.call-to-act {
      background-color: transparent;
      border: 3px solid #fff;
      color: #fff;
    }


  /* floaty logo */
    .brand-logo {
      background: white;
      position: absolute;
      margin-top: -0.65em;
      left: 50%;
      top: 50%;
      margin-left: -30px;
      width: 60px;
      height: 60px;
      vertical-align: middle;
      text-align: center;
      font-size: 3.05em;
      z-index: 2;
      padding: 5.2px 5.2px 5.2px 5.2px;
      padding: 0.325rem 0.325rem 0.325rem 0.325rem;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
    }   
    /* end .headline */
  }
/* end header.header-image */
}

@media (max-width: 768px) {
  .container {
      margin: 0 15px;
  }
}



.featurette {
  overflow: hidden;

  .pull-left  {
    margin-right: 3%;
    margin-bottom: 3%;
  }

  .pull-right  {
    margin-left: 3%;
    margin-bottom: 3%;
  }

  .featurette-image {    
    
        /* keep featurette images remain half width on small screens, 
      but still alows text to flow around*/
    @media (max-width: 991px) {
      max-width: 50%;
    }

  }
}



@media(min-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

}

@media(min-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {

}








































/*.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}*/

/* Space out content a bit */
/*body {
  background-color: pink;
  padding-top: 20px;
  padding-bottom: 20px;
}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}*/

/* Custom page header */
/*.header {
  border-bottom: 1px solid #e5e5e5;
*/
  /* Make the masthead heading the same height as the navigation */
/*  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}*/

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}*/

/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
*/
/* Supporting marketing content */
/*.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}
*/
/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
/*  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
*/
  /* Space out the masthead */
/*  .header {
    margin-bottom: 30px;
  }
*/
  /* Remove the bottom border on the jumbotron for visual effect */
/*  .jumbotron {
    border-bottom: 0;
  }*/
/*} */
